.about-us {
  @include page-grid;

  &__intro {
    margin: 0;
    color: $accent-main-color;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: normal;
  }

  &__title {
    margin-bottom: 32px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__avenue {
    @include about-us-content-styles;
  }

  &__cloisters {
    @include about-us-content-styles;

    margin-top: 32px;
  }
}
