.now-on-view {
  @include page-grid;

  &__top {
    margin-bottom: 40px;
    grid-column: 1 /-1;

    @include on-tablet {
      margin-bottom: 48px;
    }

    @include page-grid;
  }

  &__title {
    margin-bottom: 8px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / 10;
    }
  }

  &__text {
    margin: 0;
    text-align: center;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / 9;
    }
  }

  &__content {
    grid-column: 1 /-1;

    display: grid;
    row-gap: 48px;
  }

  &__button {
    margin-top: 40px;

    @include button-styles;

    grid-column: 1 /-1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / 9;
    }
  }
}
