$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$title-text-color: #fff;
$main-text-color: #161616;
$accent-main-color: #D12D35;
$button-hover-color: #AE1C23;
$button-active-color: #EB343D;
$input-background-color: #F8F8FA;
$input-border-color: #D5D7DE;
$input-placeholder-color: #7E7E83;

$transition-time: 300ms;
