$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$title-text-color: #fff;
$main-text-color: #161616;
$accent-main-color: #d12d35;
$button-hover-color: #ae1c23;
$button-active-color: #eb343d;
$input-background-color: #f8f8fa;
$input-border-color: #d5d7de;
$input-placeholder-color: #7e7e83;

$transition-time: 300ms;
